// Rem size conversion
@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
}

@mixin line-height($sizeValue: 2){
  line-height: ($sizeValue * 1) + px;
  line-height: ($sizeValue / 10) + rem;
}

@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

@mixin border-radius($value: '5px') {
	-webkit-radius-radius:($value);
	-moz-radius-radius:($value);
	radius-radius:($value);  
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin gradient($color1, $color2, $svgIE: '') {
	background: $color1;
	background: url($svgIE);
	background: -moz-linear-gradient(top, $color1, $color2);
	background: -webkit-linear-gradient(top, $color1, $color2); 
	background: -o-linear-gradient(top, $color1, $color2); 
	background: -ms-linear-gradient(top, $color1, $color2); 
	background: linear-gradient(to bottom, $color1, $color2); 
}

//@include gradient($orange-light, $orange-dark, $orange-gradient);

// @mixin transition($property, $duration, $ms: false) {
// 	-webkit-transition: $property $duration ease-in-out;
// 	-moz-transition: $property $duration ease-in-out;
// 	-o-transition: $property $duration ease-in-out;
// 	@if ($ms) { -ms-transition: $property $duration ease-in-out; }
// 	transition: $property $duration ease-in-out;
// }

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
}

