/* ==========================================================================
   Varijable
   ========================================================================== */

// Glavna širina sitea
$siteWidth: 980px;




/* ==========================================================================
   Klase
   ========================================================================== */

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

